
*.o

*.user

moc_mainwindow.cpp

BackOfficeCourses.app/Contents/Resources/empty.lproj

BackOfficeCourses.app/Contents/PkgInfo

BackOfficeCourses.app/Contents/MacOS/BackOfficeCourses

BackOfficeCourses.app/Contents/Info.plist

.qmake.stash

Makefile

mainwindow.ui.autosave
